*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-image: url(http://localhost/Dogeway/Imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;  
}

header{
    width: 100%;
    height: 100vh;
}

.nav {
    width: 100%;
    background: #009d71;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    transition: all 1s ease;
}

.rana{
    height: 60px;
    width: 60px;
}

.ranalogo{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 40px;
    color:aliceblue;
    font-weight: 100;
    font-weight: bold;
    padding-left: 15px;
    
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 10px;
    color:aliceblue;
    font-weight: bold;
}

.menu li a{
    color:aliceblue;
    text-decoration: none;
    transition: all;
    font-size: 18px;
    padding: 20px;
    font-family: Arial;
}

.menu li a:hover {
    padding: 10px 20px;
    background: #789dca;
    color: black;
    border-radius: 15px;
    transition: 1s;
}

.edicion{
    color: black;
    background: aliceblue;
    width: 45%;
    margin: 35px auto; 
    padding: 75px; 
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
}


.edicion input[type="text"],
.edicion input[type="email"],
.edicion input[type="password"],
.edicion input[type="date"] {
  width: 80%; 
  padding: 5px; 
  margin-bottom: 10px;   
  text-align: center;
}

.edicion input[type="submit"] {
  background-color: #2ca880; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  border-radius: 10px;
  text-align: center; 
}